html,
body {
    margin: 0;
}

.full-height {
    transition: 4s;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    max-width: 1100px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 244, 247);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 620px;
    height: 620px;
}

.table-container-scroll {
    overflow-y: auto;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-title {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.table-btn-container {
    text-align: center;
    margin-top: 30px;
}

.btn {
    font-weight: bold;
    font-size: small;
    background-color: rgba(44, 214, 178, 1);
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgba(44, 214, 178, 0.7);
    color: black;
}