html,
body {
    margin: 0;
}

.full-height {
    transition: 4s;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starttest-container {
    max-width: 900px;
    width: 100%;
    padding: 80px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 244, 247);
    border-radius: 30px;
    justify-items: center;
}

.start-title {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.input-group-text,
.form-control {
    border: 1.5px solid gray;
    font-size: large;
}

.form-control {
    margin-right: 25px;
    background-color: transparent;
}

.input-group-text {
    background-color: seashell;
}

.start-btn-container {
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
}

.start-btn {
    font-weight: bold;
    font-size: large;
    background-color: rgba(44, 214, 178, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.5s;
}

.start-btn:hover {
    background-color: rgba(44, 214, 178, 0.7);
    color: black
}

.end-btn-container {
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
}

.end-btn {
    font-weight: bold;
    font-size: large;
    background-color: rgb(214, 44, 44, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.5s;
}

.end-btn:hover {
    background-color: rgba(214, 44, 44, 0.7);
    color: black
}